.chart{
  width: 90%;
  height: 735px;
  margin:2px 0px 0px 238px;
  background: #ece9e9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart h2 {
  margin: 0;
}
