.customer-table {
  width: 90% !important;
  height: 735px !important;
  margin: 2px 0px 0px 238px !important;
  text-align: left;
  background: #ece9e9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-car {
  background-color: #17153B;
  color: #C8ACD6;
  height: 40px;
  width: 150px;
  border-radius: 4px;
  border: 2px solid #C8ACD6;
  cursor: pointer;
  margin-bottom: 20px;
}

.customer-table h2 {
  margin: 0px 0px 20px 0px;
}

.customer-table table {
  width: 100%;
  border-collapse: collapse;
}

.customer-table th, .customer-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.customer-table th {
  background-color: #f2f2f2;
}

.add-customer-form{
  display: flex;
  flex-direction: column;
  gap: 3px;
  border: 2px solid gray;
  padding: 0px 0px 10px 0px;
  width: 500px;
  border-radius: 4px;
  position: absolute;
  background-color:#ece9e9;
  margin-left: 289px;
  margin-top: 50px;
  top: -84px;
  z-index: 2;
}

.add-customer-form h3{
  text-align: center;
  color: #17153B;
  font-size: 20px;
  font-weight: 800;
}


.add-customer-form--body {

}

/* Input Fields */
.add-customer-form input {
  max-width: 400px;
  padding: 12px;
  margin: 8px 44px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 13px;
  outline: gray;
  outline-style: auto;
  outline-color:gray;
}


/* Submit and Close Buttons */
.add-customer-form button {
  background-color: #17153B;
  color: #C8ACD6;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  width: 100px;
  border: #001529;
  height: 40px;
  margin-left: 69%;
  outline-style: auto;
  outline-color: #C8ACD6;
  font-weight: 700;
}

.add-customer-form button:hover {
  background-color: #C8ACD6;
  color: #17153B;
  outline-style: auto;
  outline-color: #17153B;
}

/* Close Button Style */
